@font-face {
    font-family: 'NiseSegaSonic';
    src: url('NiseSegaSonic.eot');
    src: local('NiseSegaSonic'),
        url('NiseSegaSonic.eot?#iefix') format('embedded-opentype'),
        url('NiseSegaSonic.woff2') format('woff2'),
        url('NiseSegaSonic.woff') format('woff'),
        url('NiseSegaSonic.ttf') format('truetype'),
        url('NiseSegaSonic.svg#NiseSegaSonic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

